/*{
	border: black solid 1px;
}*/
body {
	margin: auto;
	font-family: "Josefin Slab", serif;
	font-size: 22px;
	background-image: url("images/stars-twinkling.png");
}
#header {
	height: 100px;
	width: 475px;
	margin: auto;	
	padding: 40px 0 0 0;
}
h1 {
	margin: 10px auto;	
	padding: 10px 0 10px 0;
	font-size: 70px;
	font-weight: bold;	
	color: #fff;
	text-align: vertical;		
}
#quiz {
	height: 300px;
	width: 400px;
	border-radius: 10%;
	margin: 20px auto;
	padding: 20px 20px 0 30px;
	background-color: #fff;	
}
#question_1, #question_2, #question_3, #question_4, #question_5 {
	width: 100%;
	margin: auto;
	font-weight: bold;
}
ul {
	list-style-type: none;
	padding: 0 0 0 40px;
}
.submit {
	position: relative;
	margin-top: 20px;
}
#submit_button {
	display: block;
	width: 150px;
	height: 60px;
	border-radius: 10px;
	margin: auto;
	background-color: #ff3333;
	border: 0px solid;
	font-size: 20px;
	font-family: "Josefin Slab", serif;
	font-weight: bold;
}
.correct_answer, {
	width: 100%;
	margin-top: -210px;
}
.wrong_answer {
	width: 100%;
	margin-top: -210px;
}